body {
	
	--scrollbar_height: 4px;
	--scrollbar_width: 16px;
	--button_size: 22px;
	
	--pin_width: 22px;
	--pin_height: 22px;

	--tab_height: 17px;
	--tab_height_line: 19px;
	
	--title_font_size: 10.5px;

	--tab_title_text_padding_left: 23px;
	--tab_title_text_padding_right_with_close_button: 20px;

	--favicon_size: 14px 14px;
	--favicon_left: 5px;


	--drag_area_top: 6px;
	--drag_area_bottom: 4px;

	--children_padding_left: 5px;
	--close_top: 2px;
	--close_right: 2px;
	--close_height: 11px;
	--close_width: 11px;
}